.compare-container {
        color: black;
        width: 100vw;
        min-height: 74.6vh;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 6vh;
        padding-bottom: 4rem;
}

.compare-initial-data {
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 80vw;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
}

.compare-initial-data h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
}

.compare-initial-data h2:nth-child(1) {
        font-size: xx-large;
}

.compare-grid {
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 80vw;
        justify-content: center;
        align-content: center;
}

.compare-grid h5:nth-of-type(10n+1), h5:nth-of-type(10n+2), h5:nth-of-type(10n+3), h5:nth-of-type(10n+4), h5:nth-of-type(10n+5) {
        background-color: rgb(202, 202, 202);
}

.compare-data {
        padding: .5rem;
        font-size: medium;
        border: 1px solid #333333;
        margin-bottom: 0 - 1px;
        font-size: 1.2rem;
        font-weight: normal;
}