.footer-container {
        width: 100%;
        min-height: 18.5vh;
        height: fit-content;
        background-color: #006de9;
        margin-top: 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: light;
}

.footer-container div {
        padding: 3rem;
        overflow: hidden;
}

.footer-container div:nth-child(1) {
        margin-left: 12vw;
        font-size: 1rem;
        font-weight: light;
}

.footer-container div:nth-child(2) {
        margin-left: 8vw;
        font-size: 1rem;
        font-weight: light;
}

.footer-container div:nth-child(3) {
        margin-left: 8vw;
        font-size: 1rem;
        font-weight: light;
}

.footer-container div:nth-child(4) {
        margin-left: 8vw;
        font-size: 1rem;
        font-weight: light;
}

.footer-container p {
        margin-top: .5rem;
        font-size: 1rem;
        font-weight: light;
}

.footer-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        font-size: 1rem;
        font-weight: 200;
        margin: 0;
}

.footer-title {
        font-size: 1rem;
        font-weight: normal;
}

.footer-icon {
        width: 1.5rem;
        margin-right: .5rem;
}