.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 85vh;
        position: relative;
        top: 4em;
        color: black;
        padding-top: 0rem;
        padding-bottom: 0rem;
}

.linechart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.linechart-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}

.dates-selector-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
}

.compare-btn {
        margin-top: 1rem;
}

.empty-date::before {
        content: "Elige dos fechas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        right: 15%;
        width: 100%;
}

.equal-dates::before {
        content: "Las fechas deben ser distintas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        left: -12%;
        width: 150%;
}