.header {
        background-color: #006de9;
        width: 100vw;
        height: 6vh;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 1;
}

.title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        margin-left: 2rem;
}

.icon {
        width: 2.5rem;
        margin-right: 1rem;
}

.title {
        font-size: 1.5rem;
        font-weight: normal;
}

.bars {
        font-size: 1.5rem;
        justify-self: flex-start;
        cursor: pointer;
        margin-left: 1.5rem;
        padding: 1rem;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
}

.bars:hover {
        background: #005fad;
}

.bars:active {
        filter: brightness(130%);
}