.line-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        min-width: 60rem;
        min-height: 32rem;
        height: 70vh;
        position: relative;
        transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1000px) {
        .line-chart {
                min-width: 93vw;
        }
}

@media only screen and (max-width: 400px) {
        .line-chart {
                min-width: 96vw;
                max-height: 34rem;
        }
}