.line-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        min-width: 60rem;
        min-height: 35em;
        height: 70vh;
        position: relative;
        transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1000px) {
        .line-chart {
                min-width: 90vw;
        }
}
