.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 94vh;
        position: relative;
        top: 5vh;
        color: black;
        padding-bottom: 3rem;
}

.linechart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.dates-selector-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        margin-left: 1rem;
}

button {
        background-color: #006de9;
        color: #ffffff;
        width: 11rem;
        height: 3rem;
        padding: .8rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: larger;
        font-weight: normal;
        position: relative;
}

button:focus {
        outline: 0;
}

button:hover {
        background-color: #1481ff;
        cursor: pointer;
        transition: 200ms;
}

.compare-btn {
        margin-top: 1rem;
}

.empty-date::before {
        content: "Elige dos fechas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        right: 15%;
        width: 100%;
}

.equal-dates::before {
        content: "Las fechas deben ser distintas.";
        color: red;
        font-size: 16px;
        position: absolute;
        display: inline-block;
        bottom: 110%;
        left: -12%;
        width: 150%;
}